/*==============================================
    Cta One
===============================================*/
.cta-one {
    position: relative;
    display: block;
    padding: 80px 0px 80px;
    z-index: 1;
}

.cta-one__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--suntop-black);
    background-blend-mode: luminosity;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

.cta-one__bg::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #111827;
    mix-blend-mode: luminosity;
    opacity: 0.8;
    content: "";
}

.cta-one__inner {
    position: relative;
    display: block;
}

.cta-one__inner .sec-title {
    padding-bottom: 48px;
}

.cta-one__inner .sec-title__tagline .text-box p {
    color: var(--suntop-white);
}

.cta-one__inner .sec-title__title {
    color: var(--suntop-white);
}

.cta-one__btn {
    position: relative;
    display: block;
    line-height: 0px;
}












/*==============================================
    End
===============================================*/