/*==============================================
    Faq One
===============================================*/
.faq-one {
    position: relative;
    display: block;
    padding: 0px 0 120px;
    overflow: hidden;
    z-index: 1;
}

.faq-one__faq {
    position: relative;
    display: block;
}

.faq-one-accrodion {
    position: relative;
    display: block;
}

.faq-one-accrodion .accrodion {
    position: relative;
    display: block;
    background: var(--suntop-white);
    border-bottom: 1px solid #bfbfbf;
    border-radius: 0px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-one-accrodion .accrodion.active {
    border-color: var(--suntop-base);
}

.faq-one-accrodion .accrodion::before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: var(--suntop-base);
    height: 0px;
    transition: all 0.4s ease;
    opacity: 0;
    content: "";
}

.faq-one-accrodion .accrodion.active::before {
    height: 100%;
    opacity: 1;
}

.faq-one-accrodion .accrodion+.accrodion {
    margin-top: 0px;
}

.faq-one-accrodion .accrodion-title {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 24px 30px 23px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.faq-one-accrodion .accrodion-title h2 {
    position: relative;
    color: var(--suntop-black);
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    padding-right: 50px;
    margin: 0;
    font-family: var(--suntop-font);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-one-accrodion .accrodion.active .accrodion-title h2 {
    color: var(--suntop-white);
}

.faq-one-accrodion .accrodion-title h2 span {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

.faq-one-accrodion .accrodion-title h2::before {
    position: absolute;
    top: 50%;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--suntop-white);
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background: var(--suntop-black);
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: center;
    content: "\e90c";
    font-family: 'icomoon' !important;
}

.faq-one-accrodion .accrodion.active .accrodion-title h2::before {
    content: "\e900";
    color: var(--suntop-black);
    background: var(--suntop-white);
    font-weight: 700;
}

.faq-one-accrodion .accrodion-content {
    position: relative;
    display: block;
    padding: 0px 30px 23px;
    padding-left: 110px;
}

.faq-one-accrodion .accrodion-content p {
    color: var(--suntop-white);
    margin: 0;
}


.faq-one__form {
    position: relative;
    display: block;
    background: var(--suntop-black);
    padding: 56px 45px 65px;
    margin-left: 150px;
    margin-top: -68px;
}

.faq-one__form::before {
    position: absolute;
    top: 75px;
    left: -34px;
    width: 35px;
    height: 65px;
    background: var(--suntop-black);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
    content: "";
}

.faq-one__form .title-box {
    position: relative;
    display: block;
    padding-bottom: 25px;
}

.faq-one__form .title-box h2 {
    color: var(--suntop-white);
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    text-transform: capitalize;
}

.faq-one__form form {
    position: relative;
}

.faq-one__form .form-group {
    position: relative;
    margin-bottom: 10px;
}

.faq-one__form form .form-group input[type="text"],
.faq-one__form form .form-group input[type="email"],
.faq-one__form form .form-group input[type="tel"],
.faq-one__form form .form-group input[type="url"],
.faq-one__form form .form-group textarea {
    position: relative;
    display: block;
    color: var(--suntop-white);
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    padding: 0px 20px 0px;
    width: 100%;
    height: 55px;
    background-color: #3C3C3C;
    border-radius: 0px;
    outline: none;
    border: 0px solid #bfbfbf;
    font-family: var(--suntop-font);
}

.faq-one__form form .form-group textarea {
    height: 115px;
    padding-top: 17px;
    resize: none;
}

.faq-one__form form .form-group .button-box {
    position: relative;
    display: block;
}

.faq-one__form form .button-box button {
    width: 100%;
    border: none;
}

.faq-one__form form .button-box button.thm-btn:hover {
    color: var(--suntop-black);
}

.faq-one__form form .button-box button .hover-btn {
    background: var(--suntop-white);
}

/*==============================================
    Faq One Two
===============================================*/
.faq-one--two {
    position: relative;
    display: block;
    padding-top: 120px;
}









/*==============================================
   End
===============================================*/