/***
=============================================
Features One
=============================================
***/
.features-one {
    position: relative;
    display: block;
    padding: 0px 0px 0px;
    z-index: 99;
}

.features-one__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--suntop-white);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    overflow: hidden;
    border-bottom: 3px solid var(--suntop-base);
    padding: 60px 40px 60px;
    margin-top: -50px;
    z-index: 99;
}

.features-one__single {
    position: relative;
    display: flex;
    align-items: center;
}

.features-one__single .icon-box {
    position: relative;
    display: block;
}

.features-one__single .icon-box span::before {
    position: relative;
    display: inline-block;
    color: var(--suntop-base);
    font-size: 50px;
    line-height: 50px;
    transition-delay: 0.1s;
    transition: all 500ms ease;
}

.features-one__single:hover .icon-box span::before {
    transform: rotateY(180deg);
    transition-delay: 0.1s;
}

.features-one__single .text-box {
    position: relative;
    display: block;
    margin-left: 20px;
    flex: 1;
}

.features-one__single .text-box h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    text-transform: capitalize;
}







/***
=============================================
End
=============================================
***/