/*==============================================
    Site Footer One
===============================================*/
.site-footer-one {
    position: relative;
    display: block;
    background-color: var(--suntop-black);
    padding: 120px 0px 0px;
    overflow: hidden;
    z-index: 1;
}

.site-footer-one .shape1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.site-footer-one .shape2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.site-footer-one__top {
    position: relative;
    display: block;
    padding-bottom: 71px;
}

.site-footer-one__top-inner {
    position: relative;
    display: block;
}

.footer-widget-one__about {
    position: relative;
    display: block;
    max-width: 330px;
    width: 100%;
    margin-top: -2px;
}

.footer-widget-one__about-logo {
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.footer-widget-one__about-logo a {
    position: relative;
    display: inline-block;
}

.footer-widget-one__about-logo a img {
    width: 100%;
}

.footer-widget-one__about-text {
    color: rgba(var(--suntop-white-rgb), 0.8);
    font-size: 16px;
}

.footer-widget-one__social {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.footer-widget-one__social a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(var(--suntop-white-rgb), 0.8);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.footer-widget-one__social a:hover {
    color: var(--suntop-white);
    border-color: var(--suntop-base);
    transition-delay: 0.2s;
}

.footer-widget-one__social a::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--suntop-base);
    transform: scale(0.7);
    opacity: 0;
    transition: all 300ms linear;
    transition-delay: 0.03s;
    content: "";
    z-index: -1;
}

.footer-widget-one__social a:hover::before {
    transform: scale(1);
    opacity: 1;
}

.footer-widget-one__social a+a {
    margin-left: 15px;
}

.footer-widget-one__social a i::before {
    position: relative;
    display: inline-block;
    color: rgba(var(--suntop-white-rgb), 0.8);
    font-size: 15px;
    line-height: 15px;
}

.footer-widget-one__single {
    position: relative;
    display: block;
}

.footer-widget-one__title {
    color: var(--suntop-white);
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: -8px;
    padding-bottom: 27px;
}

.footer-widget-one__links {
    position: relative;
    display: block;
}

.footer-widget-one__links-list {
    position: relative;
    display: block;
}

.footer-widget-one__links-list li {
    position: relative;
    display: block;
}

.footer-widget-one__links-list li+li {
    margin-top: 13px;
}

.footer-widget-one__links-list li a {
    color: rgba(var(--suntop-white-rgb), 0.8);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-transform: capitalize;
}

.footer-widget-one__links-list li a:hover {
    color: var(--suntop-base);
}

.footer-widget-one__links.service {
    position: relative;
    display: block;
}

.footer-widget-one__contact {
    position: relative;
    display: block;
}

.footer-widget-one__contact-text1 {
    position: relative;
    display: block;
    margin-top: 2px;
}

.footer-widget-one__contact-text1 h4 {
    color: rgba(var(--suntop-white-rgb), 0.8);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer-widget-one__contact-text1 p {
    color: rgba(var(--suntop-white-rgb), 0.8);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.footer-widget-one__contact-text2 {
    position: relative;
    display: block;
    margin-top: 18px;
}

.footer-widget-one__contact-text2 h2 {
    color: var(--suntop-white);
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.footer-widget-one__contact-text2 p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.footer-widget-one__contact-text2 p+p {
    margin-top: 3px;
}

.footer-widget-one__contact-text2 p a {
    color: rgba(var(--suntop-white-rgb), 0.8);
}

.footer-widget-one__contact-text2 p a:hover {
    color: var(--suntop-base);
}

.site-footer-one__bottom {
    position: relative;
    display: block;
}

.site-footer-one__bottom-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(var(--suntop-white-rgb), 0.1);
    padding: 23px 0px 22px;
}

.site-footer-one__bottom-copyright {
    position: relative;
    display: block;
}

.site-footer-one__bottom-copyright-text {
    color: rgba(var(--suntop-white-rgb), 0.8);
    font-size: 16px;
    line-height: 26px;
}

.site-footer-one__bottom-copyright-text a {
    color: rgba(var(--suntop-white-rgb), 0.8);
}

.site-footer-one__bottom-copyright-text a:hover {
    color: var(--suntop-base);
}


.site-footer-one__bottom-menu {
    position: relative;
    display: flex;
    align-items: center;
}

.site-footer-one__bottom-menu a {
    color: rgba(var(--suntop-white-rgb), 0.8);
    font-size: 16px;
    line-height: 26px;
}

.site-footer-one__bottom-menu a+a {
    margin-left: 35px;
}

.site-footer-one__bottom-menu a:hover {
    color: var(--suntop-base);
}








/*==============================================
    End
===============================================*/