/***
=============================================
Page Header
=============================================
***/
.page-header {
    position: relative;
    display: block;
    padding: 173px 0px 171px;
    overflow: hidden;
    z-index: 1;
}

.page-header__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: var(--suntop-black);
    background-blend-mode: luminosity;
    z-index: -1;
}

.page-header__bg::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--suntop-black-rgb), 0.65);
    content: "";
    z-index: -1;
}

.page-header .shape1 {
    position: absolute;
    top: -130px;
    left: -120px;
    opacity: 0.5;
    z-index: -1;
}

.page-header__inner {
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
}

.page-header__inner h2 {
    color: var(--suntop-white);
    font-size: 50px;
    line-height: 1.1em;
    font-weight: 700;
    text-transform: capitalize;
}

.page-header__inner .thm-breadcrumb {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.page-header__inner .thm-breadcrumb li {
    color: var(--suntop-white);
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 5px;
    margin-right: 5px;
}

.page-header__inner .thm-breadcrumb li:first-child {
    margin-left: 0px;
}

.page-header__inner .thm-breadcrumb li:last-child {
    margin-right: 0px;
}

.page-header__inner .thm-breadcrumb li a {
    color: var(--suntop-white);
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: capitalize;
}

.page-header__inner .thm-breadcrumb li a:hover {
    color: var(--suntop-base);
}

.page-header__inner .thm-breadcrumb li span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    top: 2px;
}