/*--------------------------------------------------------------
# Main Slider
--------------------------------------------------------------*/
.main-slider {
    position: relative;
    display: block;
    z-index: 91;
}

.main-slider__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: transform 7000ms ease, opacity 1500ms ease-in;
    transition: transform 7000ms ease, opacity 1500ms ease-in, -webkit-transform 7000ms ease;
}

.main-slider .swiper-slide-active .main-slider__bg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.main-slider__bg::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #111111;
    background: linear-gradient(90deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 1) 21%, rgba(17, 17, 17, 0.97) 38%, rgba(17, 17, 17, 0.76) 57%, rgba(17, 17, 17, 0.31) 70%);
    z-index: -1;
    content: "";
}

.main-slider__content {
    position: relative;
    display: block;
    padding-top: 173px;
    padding-bottom: 180px;
    z-index: 15;
}

.main-slider__sub-title {
    position: relative;
    display: block;
    color: var(--suntop-white);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: var(--suntop-font);
    text-transform: uppercase;
    padding-left: 45px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(-80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(-80px);
    transform: perspective(400px) rotateY(0deg) translateY(-80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}

.main-slider__sub-title::before {
    position: absolute;
    top: 12px;
    left: 0;
    height: 2px;
    width: 35px;
    background: var(--suntop-white);
    content: "";
}

.main-slider .swiper-slide-active .main-slider__sub-title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.main-slider__title {
    position: relative;
    font-size: 200px;
    color: var(--suntop-base);
    font-weight: 200;
    line-height: 1em;
    letter-spacing: 0.060em;
    text-transform: uppercase;
    margin-top: 20px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(80px);
    transform: perspective(400px) rotateY(0deg) translateX(80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}

.main-slider .swiper-slide-active .main-slider__title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(0px);
    transform: perspective(400px) rotateY(0deg) translateX(0px);
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.main-slider__title-two {
    color: transparent;
    -webkit-text-stroke: 1px var(--suntop-white);
    font-size: 66px;
    line-height: 76px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 5px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(-80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(-80px);
    transform: perspective(400px) rotateY(0deg) translateX(-80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}

.main-slider .swiper-slide-active .main-slider__title-two {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(0px);
    transform: perspective(400px) rotateY(0deg) translateX(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.main-slider__text {
    position: relative;
    display: block;
    color: rgba(var(--suntop-white-rgb), .80);
    margin-top: 28px;
    margin-bottom: 43px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(-80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(-80px);
    transform: perspective(400px) rotateY(0deg) translateX(-80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}

.main-slider .swiper-slide-active .main-slider__text {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(0px);
    transform: perspective(400px) rotateY(0deg) translateX(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.main-slider__btn {
    position: relative;
    display: block;
    line-height: 0px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(80px);
    transform: perspective(400px) rotateY(0deg) translateY(80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}

.main-slider .swiper-slide-active .main-slider__btn {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.main-slider__btn .thm-btn:hover {
    color: var(--suntop-black);
}

.main-slider__btn .hover-btn {
    background-color: var(--suntop-white);
}

.main-slider__form {
    position: absolute;
    top: 29%;
    right: 300px;
    max-width: 470px;
    width: 100%;
    padding: 40px 30px 50px;
    background: var(--suntop-white);
    border: 1px solid #dfdfdf;
    z-index: 5;
}

.main-slider__form .row {
    --bs-gutter-x: 10px;
}

.main-slider__form .title-box {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.main-slider__form .title-box h2 {
    color: var(--suntop-black);
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 3px;
    text-align: center;
}

.main-slider__form form {
    position: relative;
}

.main-slider__form .form-group {
    position: relative;
    margin-bottom: 10px;
}

.main-slider__form form .form-group input[type="text"],
.main-slider__form form .form-group input[type="email"],
.main-slider__form form .form-group input[type="tel"],
.main-slider__form form .form-group input[type="url"],
.main-slider__form form .form-group textarea {
    position: relative;
    display: block;
    color: var(--suntop-gray);
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    padding: 0px 20px 0px;
    width: 100%;
    height: 55px;
    background-color: #fbfbfb;
    border-radius: 0px;
    outline: none;
    border: 1px solid #bfbfbf;
    font-family: var(--suntop-font);
}

.main-slider__form form .form-group .nice-select {
    background-color: #fbfbfb;
    border-radius: 0px;
    color: var(--suntop-gray);
    font-size: 16px;
    font-weight: 400;
    height: 55px;
    line-height: 55px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #bfbfbf;
}

.main-slider__form form .form-group .nice-select:after {
    right: 25px;
    border-bottom: 2px solid var(--suntop-gray);
    border-right: 2px solid var(--suntop-gray);
}

.main-slider__form form .form-group .button-box {
    position: relative;
    display: block;
}

.main-slider__form form .button-box button {
    width: 100%;
    border: none;
}


#main-slider-pagination {
    position: absolute;
    left: auto;
    right: 60px;
    top: 45%;
    bottom: 0;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    height: 80px;
    width: auto;
    z-index: 99999;
}

#main-slider-pagination::before {
    position: absolute;
    top: -105px;
    left: 50%;
    width: 4px;
    height: 85px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 14%, rgba(255, 255, 255, 0.7595413165266106) 35%, rgba(255, 255, 255, 0.5746673669467788) 57%, rgba(255, 255, 255, 0.19371498599439774) 95%);
    transform: translateX(-50%);
    opacity: 0.3;
    content: "";
}

#main-slider-pagination::after {
    position: absolute;
    bottom: -195px;
    left: 50%;
    width: 4px;
    height: 85px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 14%, rgba(255, 255, 255, 0.7595413165266106) 35%, rgba(255, 255, 255, 0.5746673669467788) 57%, rgba(255, 255, 255, 0.19371498599439774) 95%);
    transform: translateX(-50%);
    opacity: 0.3;
    content: "";
}

#main-slider-pagination .swiper-pagination-bullet {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 0px;
    background: var(--suntop-white);
    border: 0px solid #1b3129;
    color: var(--suntop-black);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-family: var(--suntop-font);
    opacity: 1;
}

#main-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    color: var(--suntop-white);
    background: var(--suntop-base);
}

#main-slider-pagination .swiper-pagination-bullet+.swiper-pagination-bullet {
    margin-top: 10px;
}



/*--------------------------------------------------------------
# Banner One
--------------------------------------------------------------*/
.main-slider--banner {
    position: relative;
    display: block;
    background: #fbfbfb;
    border-top: 1px solid rgba(var(--suntop-black-rgb), .30);
    overflow: hidden;
}

.main-slider--banner .shape1 {
    position: absolute;
    top: -125px;
    right: -75px;
    z-index: -1;
}

.main-slider--banner__img1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.main-slider--banner .main-slider__content {
    padding-top: 103px;
    padding-bottom: 110px;
}

.main-slider--banner .main-slider__sub-title {
    color: var(--suntop-black);
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
}

.main-slider--banner .main-slider__sub-title::before {
    background: var(--suntop-black);
}

.main-slider--banner .main-slider__title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(0px);
    transform: perspective(400px) rotateY(0deg) translateX(0px);
}

.main-slider--banner .main-slider__title-two {
    -webkit-text-stroke: 1px var(--suntop-black);
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(0px);
    transform: perspective(400px) rotateY(0deg) translateX(0px);
}

.main-slider--banner .main-slider__text {
    color: var(--suntop-gray);
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(0px);
    transform: perspective(400px) rotateY(0deg) translateX(0px);
}

.main-slider--banner .main-slider__title {
    font-size: 105px;
}

.main-slider--banner .main-slider__title-two {
    font-size: 50px;
    line-height: 65px;
}

.main-slider--banner .main-slider__text {
    margin-top: 23px;
    margin-bottom: 38px;
}

.main-slider--banner .main-slider__form {
    position: relative;
    top: 0%;
    right: auto;
    max-width: 470px;
    width: 100%;
    padding: 30px 30px 40px;
    z-index: 5;
}

.main-slider--banner__reviews {
    position: absolute;
    display: flex;
    align-items: center;
    top: 120px;
    right: 100px;
    z-index: 5;
}

.main-slider--banner__reviews-img {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #bfbfbf;
    padding: 4px 4px 4px;
    border-radius: 55px;
}

.main-slider--banner__reviews-img li {
    position: relative;
    display: block;
}

.main-slider--banner__reviews-img li+li {
    margin-left: -17px;
}

.main-slider--banner__reviews-img li .img-box {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--suntop-white);
    overflow: hidden;
}

.main-slider--banner__reviews-img li .img-box img {
    width: 100%;
}

.main-slider--banner__reviews-img li .counting-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: var(--suntop-base);
    border: 2px solid var(--suntop-white);
    border-radius: 50%;
    overflow: hidden;
}

.main-slider--banner__reviews-img li .counting-box .count-box {
    position: relative;
    display: flex;
    align-items: center;
}

.main-slider--banner__reviews-img li .counting-box .count-box h2 {
    color: var(--suntop-white);
    font-size: 14px;
    font-weight: 500;
}

.main-slider--banner__reviews-img li .counting-box .count-box .k {
    color: var(--suntop-white);
    font-size: 14px;
    font-weight: 500;
}

.main-slider--banner__reviews-img li .counting-box .count-box .plus {
    color: var(--suntop-white);
    font-size: 14px;
    font-weight: 500;
}

.main-slider--banner__reviews-text {
    position: relative;
    display: block;
    margin-left: 20px;
}

.main-slider--banner__reviews-text p {
    color: var(--suntop-black);
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

















/*--------------------------------------------------------------
  # End
  --------------------------------------------------------------*/